.wrapper {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.wrapper_header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.wrapper_header h1 {
  margin: 0;
  font-size: 2em;
}

.profile-photo{
  max-height: 60vh; 
  width: auto; 
  display: block;
  float: center;
  margin-right: 5vh;
  border-radius: 10%;
  box-shadow:#1e1e1e 0 0 3px;
}

.nav {
  text-align: center;
  margin: 20px 0;
}

.nav button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #777;
}

footer a {
  color: #333;
  text-decoration: none;
}
